@model ErrorViewModel
@{
    ViewData["Title"] = "Błąd";
}

<h1 class="text-danger">Błąd.</h1>
<h2 class="text-danger">Wystąpił błąd podczas przetwarzania twojego zapytania.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Przechodząc do <strong>środowiska Dev</strong> zostanie wyświetlony bardziej szczegółowy opis błędu.
</p>
<p>
    <strong>Środowisko programistycznie nie powinno być włączone dla wdrożonych aplikacji.</strong>
    Zweryfikuj zmienne środowiskowe.
    Włącz opcję debug, ustaw zmienną środowiskową <strong>ASPNETCORE_ENVIRONMENT i spróbuj ponownie</strong>
    zrestartuj aplikację.
</p>
