@model TaskSearchFormModel

@{
    ViewBag.Title = "Szukaj zadania";
}

<link href="~/css/style.css" rel="stylesheet" type="text/css" />

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Context.Request.Method == "POST")
{
    <h2>Wyszukiwana fraza "@Model.Keyword"</h2>
}

@if (Model.Tasks.Any())
{
    <h5>@Model.Tasks.Count() zadanie znalezione.</h5>
    <div class="tasks-grid">
        @await Html.PartialAsync("~/Views/Shared/_TaskPartial.cshtml", Model.Tasks)
    </div>
}
else if (Context.Request.Method == "POST")
{
    <h5>Nie znaleziono zadania.</h5>
}

<form asp-action="Search">
    <table class="tasks-entry form">
        <tr>
            <th>
                <label asp-for="Keyword">Fraza:</label>
            </th>
            <td>
                <input asp-for="Keyword" class="form-control" placeholder="Szukaj..." />
                <span asp-validation-for="Keyword" class="small text-danger"></span>
            </td>
        </tr>
    </table>
    <input class="btn btn-primary" type="submit" value="Wyszukaj" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}